<!-- <div class="container-fluid">
  <div cdkDropListGroup class="row">
    <div class="col-4" *ngFor="let column of row">
      <h2>title</h2>
      <div
        cdkDropList
        [cdkDropListData]="column"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div cdkDrag class="example-box" *ngFor="let item of column">
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
</div> -->
